<meta charset="utf-8" />
<!--<meta name="viewport" content="width=device-width" />-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/site.css">

<title>SHBC - Ctax E-Billing Sign up</title>

<div id="wrapper" class="container-fluid">
    <div id="main" class="container-fluid">
        <!-- Start Main -->
        <div class="row">
            <% include ./partials/introView %>
        </div>
        <div class="row">
            <% include ./partials/addressSearchView %>
        </div>
        <!-- End Main -->
    </div>
</div>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/typeahead.js/dist/typeahead.bundle.min.js"></script>
<script src="/lib/typeahead.js/dist/typeahead.jquery.min.js"></script>
<script src="/lib/typeahead.js/dist/bloodhound.min.js"></script>
<script src="/js/bloodhound-remote.js"></script>
<script src="/js/site.js"></script>